<!-- Auth with Http Client and Http Interceptors -->
<!-- General Http Info -->
<div class="row">
  <div class="m-t-1">
    <button class="btn btn-primary" (click)="doGET()">GET</button>
    <button class="btn btn-primary" (click)="doPOST()">POST</button>
    <button class="btn btn-primary" (click)="doPUT()">PUT</button>
    <button class="btn btn-primary" (click)="doDELETE()">DELETE</button>
  </div>
</div>

<div class="row">
  <div class="m-t-1">
    <button class="btn btn-secondary" (click)="doGETAsPromise()">As Promise</button>
    <button class="btn btn-secondary" (click)="doGETAsPromiseError()">Error as Promise</button>
    <button class="btn btn-secondary" (click)="doGETAsObservableError()">Error as Observable</button>
  </div>
</div>

<div class="row">
  <div class="m-t-1">
    <button class="btn btn-danger" (click)="doGETWithHeaders()">With Headers</button>
  </div>
</div>
<!-- With Promise -->
<form class="form-inline" [formGroup]="searchForm" (submit)="doSearch(search.value)">
  <div class="form-group">
    <input type="search"
           formControlName="inputSearch"
           class="form-control"
           placeholder="Enter search string" #search>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>
<ul class="list-group">
  <li class="list-group-item"
      *ngFor="let track of itunes.results">
    <img src="{{ track['artworkUrl30'] }}">
    <a target="_blank"
       href="{{ track['trackViewUrl'] }}">{{ track['trackName'] }}
    </a>
  </li>
</ul>

